body  {
  background-color: rgb(32, 32, 32);
}

.main-container  {
  padding: 10px;
  color: white;
  font-size: 30px;
}

.sub-container  {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.con1, .con2 {
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  width: 150px;
  font-size: 25px;
  background-color: #fff;
  color: #000;
}

.mid-section  {
  text-align: center;
  margin-bottom: 100px;
}

.heading {
  font-size: 50px;
  margin-bottom: 30px;
}

.qst  {
  display: inline-block;
  font-size: 70px;
  padding: 5px 30px;
  background-color: #fff;
  color: #000;
}

.con2 {
  padding: 0 100px;
  height: 200px;
}

.left-display, .right-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} 

.input  {
  display: inline-block;
  border: 5px solid #fff;
  width: 200px;
  height: 100px;
  background-color: rgb(32, 32, 32);
  color: #fff;
  font-size: 25px;
}

.score, .highScore  {
  display: flex; 
}

.scoreColor, .highScoreColor {
  width: 20px;
  height: 20px;
  border: 0px solid;
  border-radius: 50%;
  margin-right: 20px;
}

.scoreColor {
  background-color: red;
}

.highScoreColor {
  background-color: yellow;
}

.scoreText, .highScoreText  {
  margin-right: 25px;
}


@media screen and (max-width: 600px) {
  .main-container, .btn {
    font-size: 20px;
    text-align: center;
  }

  .reset  {
    margin-bottom: 20px;
  }

  .heading, .qst  {
    font-size: 30px;
  }

  .con1  {
    display: block;
  }
  
  .input  {
    border: 3px solid #fff;
    width: 100px;
    height: 50px;
  }

  .con2 {
    padding: 0 10px;
    height: 150px
  }
  
}